body{
    line-height: 1;
}

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, ol, ul, li,
fieldset, form, label, footer, header,
menu, nav, section{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


*{box-sizing: border-box;}

:root{
    --principal:#F3F5FC;
    
    --a:#F3F5FC;
    --b:#CED4DA;
    --c:#757FB2;
    --d:#0A3871;
    --e:#EFF1FA;

    

}
body{
    background-color: var(--b);
}
header i img{
    height: 30px;
    margin: 10px;
}
.contenedorprinc{
    background-color:var(--b);
    display: flex;
    
    height: 90vh;
    padding-top: 5%;

}

.cont1{
    background-color:var(--b);
    text-transform: lowercase;
    
    padding: 20px;
    margin: 10px;
    border:none;
   flex: 2;

}
.cont2{
    background-color: var(--e);
   padding: 20px;
   margin: 10px 0px 0px;
   border: none;
   border-radius: 1.2rem;
   flex:1;
   
 

}


.cont2 textarea{
    display: inherit;
}

.cont1 textarea, .cont2 textarea{

    width: 100%;
    height: 80%;
    padding:25px;
    border: none;
    font-family: 'Montserrat', sans-serif;
  
    background: none;
   font-weight: bold;
   color:var(--d);
   font-size: 32px;
   outline: none;

}



#imagen1{
    display: flex;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    
  


}

.descrip1, .descrip2{
    padding: 7px;
    margin: 7px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
.descrip1{
    font-weight: 700;
}
.advertencia{
    font-family: 'Montserrat', sans-serif;
    color: var(--d);
}
.contenedor1{
    display: flex;

}
.advertencia{
    padding: 10px 0px;
}
.btn1, .btn2, .btnCopy{
    flex: auto;
    height:40px;
    margin: 10px 30px;
    border: none;
    border-radius: 1.50rem;
    cursor: pointer;
    background-color: var(--d);
    color: var(--a);
   
    transition: 1s background;

}
.btn1:hover, .btn2:hover, .btnCopy:hover{
    background-color: var(--c);
    transform: scale(1.1);
}


.btnCopy{
   margin-top: 10%;
}



